.contact-container {
    height: 80vh;
    background-image: url('https://img.lovepik.com/background/20211022/large/lovepik-green-technology-background-image_500676483.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}