.makereview-container {
    height: 80vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK9YdjMiqWYgW4gL0DOM_RL4AYu9ujRqfLmJan1SWEkRdU-m78yhJAZ73c6SQps2CgStw&usqp=CAU');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}